.btn-primary{

    margin-top: 10px;
    background-color: blue;
}
.sumry{
    margin-left: 10px;
}
.btn-secondary{
    margin-top: 10px;
    margin-left: 5px;
    background-color: blue;
}
.btn-success{
    margin-top: 10px;
    margin-left: 5px;
    background-color: blue;
}